<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue</title>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div id="app">
        <h1>{{ mayusculasTexto }}</h1>
        <h2 
            class="bg-dark"
            :class="colorCantidad"
        >
            mi saldo disponible es: {{cantidad }}
        </h2>
        <a v-bind:href="enlace">ir a enlace</a>
        <!-- abrebiado con solo : -->
        <a :href="enlace">ir a enlace</a>

        <hr>

        <h2 v-if="estado"> la cuenta esta activa</h2>
        <h2 v-else>Cuenta desactivada</h2>

        <hr>

        <h2 v-if="cantidad > 500">cantidad : {{cantidad}}</h2>
        <h2 v-else-if="cantidad <= 500 && cantidad > 0">
            cantidad:
            <span style="color:red">{{cantidad}}</span>
        </h2>
        <h2 v-else> Sin cantidad {{cantidad}}</h2>

        <hr>

        <h2>mis Servicios disponibles</h2>

        <ul>
            <li v-for="(item, index) in servicios" :key="index">{{index+1}}-{{item}}</li>
        </ul>

        <hr>

        <button v-on:click="agregarSaldo">agregar saldo</button>
        <button @click="agregarSaldo">agregar saldo</button>
        
        <hr>
        <button @click="disminuirSaldo(100)" :disabled="desactivar">restar saldo</button>
        


    </div>


    <script src="main.js"></script>
    <script>
       const appMounted = app.mount("#app")
    </script>
</body>

</html>